{{!< default}}
    
<div class="large-12 medium-12 small-12 columns adjust dn-post-c">
    <article class="large-12 medium-12 small-12 columns {{post_class}} adjust dn-no-sps" id="post-{{id}}"> 

        {{#post}}
        
        <header class="post-header">
            <div class="rows">
                <div class="large-12 medium-12 small-12 columns remove-padding">
                  {{!-- <span class="sep-decoration">░░</span><span class="author">by {{author.name}}</span> --}}
                 <div class=" post-heading full-width"><span> <span class="author  ">sam hains  @</span>  <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD - MMM - YYYY"}}</time></span></div>
                </div>
            </div>
        </header>

        <section class="large-12 medium-12 small-12 columns indent">
            <h2 class="post-title">{{{title}}}</h2>
            
            <section class="post-content">
                {{content}}
            </section>
            
            <span class="post-meta">
                {{#if tags}}
                    <strong>tagged with: </strong>{{tags}}
                {{/if}}
            </span>
        </section>
            
        <section class="large-12 medium-12 small-12 columns no-sp">
            <div class="dn-sep-end">&#8221;</div>
            <div class="large-6 medium-6 small-12 columns no-sp post-footer">
                {{#if author.image}}
                    <section class="author">
                        <div class="uimg-a" style="background-image: url({{author.image}})"></div>
                        <h4>{{author.name}}</h4>
                        <p>{{author.bio}}</p>
                    </section>
                {{else}}
                    <section class="author nlm">
                        <h4>{{author.name}}</h4>
                        <p>{{author.bio}}</p>
                    </section>
                {{/if}}
            </div>
            <div class="large-6 medium-6 small-12 columns no-sp post-footer footer-right">
                
                <div class="dn-small-back show-for-small">
                    <a href="/" class="older-posts dn-back-to-posts" data-pjax="">BACK TO POSTS</a>
                </div>
            </div>
        </section>
        
        <section class="large-12 medium-12 small-12 columns no-sp disqus-comments" style="margin-top: 3rem">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    if (disqusShortName) {
                        var loadDisqus = true;
                        if (typeof DISQUS != 'undefined') {
                            DISQUS.reset({reload: true, config: function () {
                                    this.page.identifier = '{{id}}';
                                    this.page.url = location.protocol + '//' + window.location.host + '{{url}}#!/{{id}}';
                                }
                            });
                            loadDisqus = false;
                        }
        
                        var disqus_shortname = disqusShortName;
                        var disqus_identifier = '{{id}}';
                        var disqus_url = location.protocol + '//' + window.location.host + '{{url}}#!/{{id}}';
                        
                        if (loadDisqus) {
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        }
                    }
                </script>
        </section>

        {{/post}}
    
    </article>
</div>

